{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h1 class="mt-5">Voici nos articles</h1>

        <div class="row">
            <div class="col">
                <li><a href="{{path()}}">Article1</a></li>
                <li><a href="">Article2</a></li>
                <li><a href="">Article3</a></li>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>


{% endblock %}