{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">Bienvenue sur WebApp</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione odit, totam reprehenderit, minima a dolores dicta, esse consectetur repudiandae ipsam quae maiores officiis! Praesentium ipsam non ad ratione nostrum ut!Vitae et ducimus soluta error maxime quam at in unde recusandae magnam repellat natus itaque cupiditate sed dolorum minima, veniam dolorem assumenda maiores expedita? Animi dolore quas hic asperiores impedit!</p>
    </div>


{% endblock %}